.widget__note-text {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.widget__delete-note {
  font-size: 13px;
  cursor: pointer;
  width: 10px;
}

.widget__content {
  display: flex;
  flex-direction: row;
  margin: auto;
  overflow: auto;
  overflow-x: hidden;
  justify-content: space-between;
  align-items: center;
}

.widget__content input {
  width: auto;
}

.note-line {
  background-color: rgb(255, 244, 219);
}
